#wrapper #content-wrapper{
    background-color: #454545 !important;
}
.bg-gradient-primary{
    background-color: #454545 !important;
}
.form-control{
    background-color: #454545 !important;
}
body{
    color: aliceblue !important;
}